#partners_wrapper{position:relative;}
#partners{position:relative;padding-left:68px;padding-right:50px;padding-top:30px;padding-bottom:40px;}
.partners_prev{display:none;width:36px;height:36px;background:url(../images/prev.png) center center no-repeat;position:absolute;left:0;top:50%;margin-top:-20px;z-index:0;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;}
.partners_next{display:none;width:36px;height:36px;background:url(../images/next.png) center center no-repeat;position:absolute;right:0;top:50%;margin-top:-20px;z-index:0;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;}
#partners .carousel-box{position:relative;}
#partners .carousel-box .inner{position:relative;overflow:hidden;max-width:none;margin:0;}
#partners .carousel.main{position:relative;overflow:hidden;margin:0;padding:0;margin-right:-20px;}
#partners .caroufredsel_wrapper{padding:0;margin:0;}
#partners .caroufredsel_wrapper ul{padding:0;margin:0;}
#partners .carousel-box ul li{float:left;display:inline-block;padding:0px 0px 0px 0px;position:relative;width:300px;overflow:hidden;padding-right:20px; border: 1px solid lightgrey;padding: 10px 10px 10px 10px;margin: 10px;
    margin-bottom: 10px;}
.partners .partners_inner figure img{margin-left:auto;margin-right:auto;border:#EDE4E4 solid 1px;padding:5px;-webkit-box-shadow:0px 1px 1px 0px rgba(0,0,0,0.12);-moz-box-shadow:0px 1px 1px 0px rgba(0,0,0,0.12);box-shadow:0px 1px 1px 0px rgba(0,0,0,0.12);}
.partners .partners_inner .caption .txt1{padding:0 0 10px 0px;color:#2a417f;text-align:center;font-family:'Amarante', cursive;font-size:17px;float:left;width:89%;}
.read-ser{color:#ffffff;text-align:center;font-family:'Amarante', cursive;font-size:16px;background-color:#2a417f;padding:3px 20px 3px 20px;border-radius:25px;margin:20px auto;display:table;}
.read-ser:hover{color:#FFED00;}
.partners .partners_inner figure{margin:0;padding:0px;position:relative;margin-bottom:30px;text-align:center;}
.slider-ser{width:1158px;}
.partners{height:auto;}
.txt2{font-family:'Arsenal', sans-serif;font-size:17px;text-align:center;color:#333333;line-height:30px;float:left;width:89%;}
@media (max-width:760px){body .slider-ser{width:90%;}
}